{% include 'header.html' %}

 <div class="row titleMargin whiteSpace">
                <div class="col" >
                        <h1>FAQ Page</h1>
                                <hr>
                                <h3>Why are your prices too high?</h3>
                                <p>We do a really good job</p>
                                <hr>
                                <h3>Why does it take you so long to get to my house?</h3>
                                <p>We live a long way away</p>
                                <hr>
                                <h3>Does Rico work in your company?</h3>
                                <p>Not as far as you know</p>
                                <hr>
                                <h3>Can I request a specific height for my grass to be cut?</h3>
                                <p>No, we decide that for you</p>
                                <hr>
                                <h3>Do you perform trimming services?</h3>
                                <p>Only if the temperature is less than 75 degrees</p>
                </div>
        </div>





{% include 'footer.html' %}