<div class="row shortGrass sectionHeight">
    <div class="col-5 d-none d-sm-block d-sm-none d-md-block">
        <div class="thomas">
            <img src="./static/css/assets/thomas_one.png" alt="thomas" height="650px">
        </div>
    </div>
    <div class="col padTop">
        <h3 class="whiteText">Request Your Free Consultation &amp; Demo</h3>
        <a name="bottomform"></a>
        <form name="form" method="post" action="/register">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="name" class="whiteText">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Jon Doe" required />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="email" class="whiteText">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="jdoe@server.com" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="phone" class="whiteText">Phone</label>
                        <input type="text" class="form-control" pattern="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$"
                            id="phone" name="phone" placeholder="555-555-5555" required />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="street" class="whiteText">Street</label>
                        <input type="text" class="form-control" id="street" name="street" placeholder="123 Main Street" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="city" class="whiteText">City</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="Sunnyvale" required />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="state" class="whiteText">State</label>
                        <input type="text" class="form-control" id="state" name="state" placeholder="California" required />
                    </div>
                </div>

                <div class="col">
                    <label for="zip" class="whiteText">Zip</label>
                    <input type="text" class="form-control" pattern="^\d{5}(-\d{4})?$" id="zip" name="zip" placeholder="94043" required />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit Request</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--end of CTA-->

<div class="row darkGrey padTop15">
    <div class="col">
        <p class="greyText">&copy; LawnBots 2018. All Rights Reserved.</p>
    </div>
    <div class="col">
        <ul class="social-icons float-right">
            <li>
                <a href="http://www.facebook.com" target="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a href="http://www.twitter.com" target="_blank" class="social-icon"> <i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="http://www.linkedin.com" target="_blank" class="social-icon"> <i class="fa fa-linkedin"></i></a>
            </li>
        </ul>
    </div>
</div>
<!--end of footer-->

</div>
<!--end of Col 12-->
</div>
<!--end of Row-->
</div>
<!--end of Container-->







<script src="static/js/jquery-3.2.1.slim.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>

</html>