<!doctype html>
<html lang="en">

<head>
    <title>LawnBots! Roll Out!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/site.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container white">
        <div class="row">
            <div class="col-12 grey tallGrass">
                <div class="row">
                    <div class="col negativeSpace">
                        <div class="logoTab">
                            <a href="/"><img src="./static/css/assets/lawnbots_logo.svg" alt="Lawnbots" width="80%"></a> </div>
                    </div>
                    <div class="col">
                        <nav class="navbar navbar-expand-lg navbar-dark float-right">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                                                                                </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active"> <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item"> <a class="nav-link" href="/pricing">Pricing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/faq">FAQ</a>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
		<!--end of Header Row-->
