{% include 'header.html' %}


          <div class="row titleMargin">
            <div class="col centerThis">
              <h1 class="whiteText">Fully Autonomous<br/> Lawn Moving Service</h1>
              <p class="whiteText"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sem nunc, consectetur ac leo in, malesuada lacinia dolor. Vestibulum suscipit sed est sed venenatis. Vestibulum sit amet maximus diam.</p>
              <a href="#bottomform" class="btn btn-info">Request Your Free Consultation &amp; Demo</a>
            </div>
          </div><!--end of Intro-->

          <div class="row reduceSection">
            <div class="skewedBorder">
              <div class="col skewed">
                <div class="row">
                  <div class="col bucketOne">
                    <div class="numberCircle">1</div>
                      <h3>Request You Free Consultation &amp; Demo</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat varius risus, id fringilla tortor vestibulum ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum sit amet augue urna. Aliquam suscipit maximus posuere.</p>
                    </div>
                    <div class="col bucketTwo">
                      <div class="numberCircle">2</div>
                      <h3>Lawn Assessment &amp; Setup Scheduling</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat varius risus, id fringilla tortor vestibulum ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum sit amet augue urna. Aliquam suscipit maximus posuere. </p>
                    </div>
                    <div class="col bucketThree">
                      <div class="numberCircle">3</div>
                      <h3>Sit Back &amp; Enjoy Your Perfectly Cut Lawn</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat varius risus, id fringilla tortor vestibulum ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum sit amet augue urna. Aliquam suscipit maximus posuere.</p>
                    </div>
                  </div>
                </div>
              </div>
          </div><!--end of features-->
        {% include 'footer.html' %}

