{% include 'header.html' %}


    <div class="row titleMargin whiteSpace">
        <div class="col">
           <h1>Pricing</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sem nunc, consectetur ac leo in, malesuada lacinia dolor. Vestibulum suscipit sed est sed venenatis. Ve$</p>
        
    <div class="row">
        <div class="col-6">
            <div class="card textCenter pad30">

                <div class="card-block">
                    <h4 class="card-title">Price Per Visit</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Schedule One Time Visit</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">

                <div class="card-block textCenter pad30">
                    <h4 class="card-title">Monthly Pricing</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Schedule Monthly Visit</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

{% include 'footer.html' %}
