{% include 'header.html' %}

  <div class='container'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <h1>Hello World Tutorial</h1>
      {% if 'username' in request.cookies %}
      {{request.cookies.username}}@{{request.cookies.vm_name}}
      {% endif %}
    </div>
  </div>
 <div class='row'>
    <div class='col-md-12'>
      <ul id="progressbar">
        <li class='active'><a href='/'>Register</a></li>
        <li class='active'><a href='/vpn_setup'>VPN Setup</a></li>
        <li class='active'><a href='/hello_world'>Hello World Tutorial</a></li>
        {% if not 'front-end' in request.cookies %}<li>REST API Tutorial</li>{% endif %}
        <li>Start Working</li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  <!-- HR -->
  <div class='row'><div class='col-12'><hr/></div></div>
  <!--/HR -->
  <div class='row'>
    <div class='col-2'>
       <span class='giant'>3</span>
    </div>
    <div class='col-10'>
      <p>Now let's setup a couple of directories for our new hello world python flask app.</p>

      <p>
         <pre class='prettyprint lang-bash'>
mkdir hello_world
cd hello_world
mkdir static
mkdir templates
ls
         </pre>
      </p>

      <p><b>mkdir</b> is a command to create (make) a new directory.<br />
         <b>cd</b> is the command to change directories.<br />
         <b>ls</b> is the command to list everything in a directory<br />
      </p>
    </div>
  </div>
  <!-- HR -->
  <div class='row'><div class='col-12'><hr/></div></div>
  <!--/HR -->
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant'>4</span>
    </div>
    <div class='col-md-10'>
    Step 4 is continued on the <a href='/hello_world/4'>next page</a>.
    </div>
  </div>

  <!-- End of tutorial -->
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  </div> <!-- End container -->

{% include 'footer.html' %}
