<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TeamKP VM Registration</title>

    <!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--<link href="static/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>

  <div class='container'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <h1>Hello World Tutorial</h1>
    </div>
  </div>
 <div class='row'>
    <div class='col-md-12'>
      <ul id="progressbar">
        <li class='active'>Register</li>
        <li class='active'>VPN Setup</li>
        <li class='active'>Hello World Tutorial</li>
        <li>REST API Tutorial</li>
        <li>Start Working</li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
    <p>In this tutorial you will get a quick intro to the following technologies:</p>

    <center>
    <span class='text-center center-block'>
    <h2>Front End</h2>
    <img height='100px' src='static/img/html-js-css-logo.png' style='background: #fff;'>
    <img height='100px' src='static/img/bootstrap.png' style='background: #fff'>
    <img height='100px' src='static/img/jQuery.gif' style='background: #fff'><br />
    &nbsp;<br />
    <h2>Back End</h2>
    <img height='100px' src='static/img/Python-logo.png' style='background: #fff'>
    <img height='100px' src='static/img/flask.png' style='background: #fff'>
    <img height='100px' src='static/img/SQLite.png' style='background: #fff'>
    <img height='100px' src='static/img/zeromq.png' style='background: #fff'>
    </span>
    </center>

    <p>&nbsp;</p>
    <p>Specifically: HTML 5 - CSS 3 - JavaScript - Bootstrap 4 - JQuery 3 - Python 3 - Flask - SQLite - ZeroMQ</p>
    <hr>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant'>1</span>
    </div>
    <div class='col-md-10'>
      <span class='align-bottom'><p>You are going to need a terminal. In Linux and Mac 
      they are built in.  In Windows we will need to download/save putty.exe
      I typically creat a folder on the c:\ drive called `bin` and put it in there.</p></span>

      <p>Windows - <a href='/static/files/putty64/putty.exe'>Putty 64bit</a> or <a href='/static/files/putty32/putty.exe'>Putty 32bit</a> (right click - save file as).</p>
      <p>Linux &amp; Mac - Open a Terminal</p>
      <p>Chromebook - Google `Chromebook Developer Mode` and follow those steps for a Chronos shell.  OR you can install the SSH extension</p>

      
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  </div> <!-- End container -->

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="static/js/bootstrap.min.js"></script>-->

  </body>
</html>
