{% include 'header.html' %}

  <div class='container'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <h1>Hello World Tutorial</h1>
      {% if 'username' in request.cookies %}
      {{request.cookies.username}}@{{request.cookies.vm_name}}
      {% endif %}
    </div>
  </div>
 <div class='row'>
    <div class='col-md-12'>
      <ul id="progressbar">
        <li class='active'><a href='/'>Register</a></li>
        <li class='active'><a href='/vpn_setup'>VPN Setup</a></li>
        <li class='active'><a href='/hello_world'>Hello World Tutorial</a></li>
        {% if not 'front-end' in request.cookies %}<li>REST API Tutorial</li>{% endif %}
        <li>Start Working</li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  <!-- HR -->
  <div class='row'><div class='col-12'><hr/></div></div>
  <!--/HR -->
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant'>2</span>
    </div>
    <div class='col-md-10'>
      <p>Now we need to connect to your personal development server at {{request.cookies.username}}@{{request.cookies.vm_name}}.</p>

      <p><img src='/static/img/hello_world/step.2.putty.2.jpg'></p>

      <p>If you are using putty.exe you will want to put <i>{{request.cookies.username}}@{{request.cookies.vm_name}}</i> into the host field and then click open.</p>


      <p>If you are using Linux or Mac then in the terminal type <i>ssh {{request.cookies.username}}@{{request.cookies.vm_name}}</i> and press enter</p>

      <p>You will be prompted for your password.  This is the one you set at registration.</p>
      <img src='/static/img/hello_world/step.1.putty.jpg'>

      <p>Once logged in you should see this:</p>
      <img src='/static/img/hello_world/step.2.putty.jpg'>
    </div>
  </div>
  <!-- HR -->
  <div class='row'><div class='col-12'><hr/></div></div>
  <!--/HR -->
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant'>3</span>
    </div>
    <div class='col-md-10'>
    Step 3 is continued on the <a href='/hello_world/3'>next page</a>.
    </div>
  </div>

  <!-- End of tutorial -->
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  </div> <!-- End container -->

{% include 'footer.html' %}
