<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TeamKP VM Registration</title>

    <!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--<link href="static/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>

  <div class='container'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <h1>Hello World Tutorial</h1>
      {% if 'username' in request.cookies %}
      {{request.cookies.username}}@{{request.cookies.vm_name}}
      {% endif %}
    </div>
  </div>
 <div class='row'>
    <div class='col-md-12'>
      <ul id="progressbar">
        <li class='active'><a href='/'>Register</a></li>
        <li class='active'><a href='/vpn_setup'>VPN Setup</a></li>
        {% if not 'backend' in request.cookies %}<li class='active'><a href='/hello_world'>Hello World Tutorial</a></li>{% endif %}
        <li class='active'><a href='/rest_api'>REST API Tutorial</a></li>
        <li>Start Working</li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
    <p>In this tutorial you will get a deep intro into building a REST API.  We call APIs the "backend" because we think
       of the browser as being the front-end (on the client computer) and the API/database/etc being on the server at
       the "backend" of the process. </p>

    <p>We will use the following technology:</p>

    <center>
    <h2>Backend</h2>
    <img height='100px' src='/static/img/Python-logo.png' style='background: #fff'>
    <img height='100px' src='/static/img/flask.png' style='background: #fff'>
    <img height='100px' src='/static/img/SQLite.png' style='background: #fff'>
    <!--<img height='100px' src='/static/img/zeromq.png' style='background: #fff'>-->
    </center>

    </div>
  </div>
  <!-- HR -->
  <div class='row'><div class='col-12'><hr/></div></div>
  <!--/HR -->
  <div class='row'>
    <div class='col-md-1'>
       <span class='giant'>1</span>
    </div>
    <div class='col-md-11'>

      <p>If you already did the Hello, World tutorial you can skip to <a href='/rest_api/3'>step 3</a>.</p>

      <p>It is important that you don't rush this tutorial.  If you've never done this before it will take some
         time.  That's ok.  You are here to learn.  The industry professionals are here to help you.  If you've
         already built a couple Flask apps then you'll breeze through this tutorial.  I still recommend you
         follow it because you'll write code that will be valuable on the project we are building.</p>

      <p>You are going to need a terminal to run the Flask app. In Linux and Mac
      they are built in.  In Windows we will need to download/save putty.exe.
      I typically create a folder on the c:\ drive called `bin` and put it in there.</p>

      <p>Windows - <a href='/static/files/putty64/putty.exe'>Putty 64bit</a> or <a href='/static/files/putty32/putty.exe'>Putty 32bit</a> (right click - save file as).  The odds are that you want 64bit.</p>
      <p>Linux &amp; Mac - Open a Terminal.</p>
      <p>Chromebook - Google `Chromebook Developer Mode` and follow those steps for a Chronos shell OR you can just install the SSH extension.</p>
    </div>
  </div>
  <!-- HR -->
  <div class='row'><div class='col-12'><hr/></div></div>
  <!--/HR -->
  <div class='row'>
    <div class='col-1'>
       <span class='giant'>2</span>
    </div>
    <div class='col-11'>
    Step 2 is continued on the <a href='/rest_api/2'>next page</a>.
    </div>
  </div>

  <!-- End of tutorial -->
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  </div> <!-- End container -->

<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst"></script>
  </body>
</html>-->
{% include 'footer.html' %}
