<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TeamKP VM Registration</title>

    <!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--<link href="static/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>

  <div class='container'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <h1>Hello World Tutorial</h1>
      {% if 'username' in request.cookies %}
      {{request.cookies.username}}@{{request.cookies.vm_name}}
      {% endif %}
    </div>
  </div>
 <div class='row'>
    <div class='col-md-12'>
      <ul id="progressbar">
        <li class='active'><a href='/'>Register</a></li>
        <li class='active'><a href='/vpn_setup'>VPN Setup</a></li>
        {% if not 'backend' in request.cookies %}<li class='active'><a href='/hello_world'>Hello World Tutorial</a></li>{% endif %}
        <li class='active'><a href='/rest_api'>REST API Tutorial</a></li>
        <li>Start Working</li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  <!-- HR -->
  <div class='row'><div class='col-12'><hr/></div></div>
  <!--/HR -->
  <div class='row'>
    <div class='col-md-1'>
       <span class='giant'>5</span>
    </div>
    <div class='col-md-11'>
      <p>We are going to build an API to manage a fleet of self driving cars.</p>

      <p>We will use the REST paradigm coupled with the BREAD acryonm.  If you've never heard of
         these then I wouldn't stress about it.  You'll know it very well at the end of this.</p>

      <p>This first step we are going to look at how the database needs to be setup.</p>

      <p>We are going to need a list of the self driving cars, a list of passengers and their destinations:</p>

      <h2>car</h2>

      <p>
        <table class='table table-bordered table-dark'>
          <thead>
           <tr>
            <th scope='col'>#</th>
            <th scope='col'>make</th>
            <th scope='col'>model</th>
            <th scope='col'>year</th>
            <th scope='col'>mileage</th>
            <th scope='col'>active</th>
           </tr>
          </thead>
          <tbody>
            <tr>
              <th scope='row'>1</th>
              <td>Tesla</td>
              <td>Model 27</td>
              <td>2021</td>
              <td>13,784</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope='row'>2</th>
              <td>Google</td>
              <td>PixelCar Beta</td>
              <td>2018</td>
              <td>35,741</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td>Apple</td>
              <td>Model XX</td>
              <td>2019</td>
              <td>1,337</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </p>

      <h2>passenger</h2>

      <p>
        <table class='table table-bordered table-dark'>
          <thead>
           <tr>
            <th scope='col'>#</th>
            <th scope='col'>name</th>
            <th scope='col'>active</th>
           </tr>
          </thead>
          <tbody>
            <tr>
              <th scope='row'>1</th>
              <td>Keanu Reeves</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope='row'>2</th>
              <td>Laurence Fishburne</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td>Carrie-Anne Moss</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </p>

      <h2>destination</h2>

      <p>
        <table class='table table-bordered table-dark'>
          <thead>
           <tr>
            <th scope='col'>#</th>
            <th scope='col'>street</th>
            <th scope='col'>city</th>
            <th scope='col'>state</th>
            <th scope='col'>zip</th>
            <th scope='col'>active</th>
           </tr>
          </thead>
          <tbody>
            <tr>
              <th scope='row'>1</th>
              <td>6801 Hollywood Blvd.</td>
              <td>Los Angeles</td>
              <td>CA</td>
              <td>90028</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope='row'>2</th>
              <td>3400 Warner Blvd.</td>
              <td>Burbank</td>
              <td>CA</td>
              <td>91522</td>
              <td>1</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td>6801 Hollywood Blvd</td>
              <td>Hollywood</td>
              <td>CA</td>
              <td>90028</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </p>

      <p>Now we need a way to 'relate' these tables together.  We are going to do a Trip table that
         stores the ids of the car, passenger and destination, as well as the date and time of the
         start and end of the trip.</p>

      <h2>trip</h2>

      <p>
        <table class='table table-bordered table-dark'>
          <thead>
           <tr>
            <th scope='col'>#</th>
            <th scope='col'>car_id</th>
            <th scope='col'>passenger_id</th>
            <th scope='col'>destination_id</th>
            <th scope='col'>trip_start_time</th>
            <th scope='col'>trip_end_time</th>
           </tr>
          </thead>
          <tbody>
            <tr>
              <th scope='row'>1</th>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>2018-01-14 07:14:12</td>
              <td>2018-01-14 07:23:01</td>
            </tr>
            <tr>
              <th scope='row'>2</th>
              <td>2</td>
              <td>3</td>
              <td>2</td>
              <td>2018-01-14 13:47:39</td>
              <td>2018-01-14 14:01:17</td>
            </tr>
            <tr>
              <th scope='row'>3</th>
              <td>3</td>
              <td>2</td>
              <td>3</td>
              <td>2018-01-14 06:01:53</td>
              <td>2018-01-14 07:41:19</td>
            </tr>
          </tbody>
        </table>
      </p>

      <p>So that first row in the trip table shows that Keanu Reeves took the Tesla to 6801 Hollywood Blvd.  Which must
         mean he is very vane since that is where his Hollywood "walk of fame" star is located.  Now let's build this as
         a SQL Script named load_sql.py
      </p>

      <p><pre class='prettyprint lang-bash' style='background-color: #012'>
vim load_sql.py</pre></p>

      <p>If you didn't do the Hello World Tutorial, the vim text editor is built in to most linux
         distributions.  If it isn't installed than it's older bother `vi` is installed and you can
         install vim with one or two commands.  I say this to say that learning vim will benefit you
         in your career.  Vim has two primary modes.  Normal mode and Insert mode.  When you first
         load Vim it is in Normal mode which is designed for using hot keys. To get into Insert mode
         you can press the `i` key.  Then you should be able to copy paste.  If you are using putty.exe
         right click is the paste.

      <p>And let's add the following:</p>

      <p><pre class='prettyprint lang-python'>
#!/usr/bin/python3

# Imported libraries
import sqlite3
import os

# We want to remove the existing file
try:
    os.remove('sql.db')
except OSError as e:
    print("Couldn't remove the file:", e.strerror)

# The sql connection &amp; cursor
conn = sqlite3.connect('sql.db')
c = conn.cursor()

print("Processing tables")

# Make the cars =============================================================
print("==&gt; Cars")
c.execute('''CREATE TABLE IF NOT EXISTS car
             (   make TEXT,
                model TEXT,
                 year INTEGER,
              mileage INTEGER,
               active INTEGER)''')

# Let's load some data
c.execute('''INSERT INTO car VALUES (?, ?, ?, ?, ?)''',
          ('Tesla', 'Model 27', 2021, 13784, 1))
c.execute('''INSERT INTO car VALUES (?, ?, ?, ?, ?)''',
          ('Google', 'PixelCar Beta', 2018, 35741, 1))
c.execute('''INSERT INTO car VALUES (?, ?, ?, ?, ?)''',
          ('Apple', 'Model XX', 2019, 1337, 1))

# Now we need to save the changes to the file
conn.commit()</pre></p>

    <p>To exit insert mode and save the file press Escape and then press `:wq`.</p>

    <p>Let's talk through the different sections of this file.</p>

    <p><pre class='prettyprint lang-python'>
#!/usr/bin/python3</pre></p>

    <p>This line tells the server which program to use to run this file.  In our case we are using
       the python3 program to interpret/run the file.  This line is called the `shebang`.  I'm
       honestly not sure why we call it that (neither is Wikipedia) but if you Google
       `shebang python` you'll see that I'm not crazy.  I think it's because we are in the `Shell`
       and in the old days of typing the ! was called a `bang` and over time it was shortened
       to `shebang` instead of saying `shell bang` but I'm just guessing.  When I started coding
       the # was called a `pound` and not a `hashtag`. The astrisk (*) at one point was called
       a `splat` and the slash (/) was called a `whack`.  Old people really had fun with typing.</p>

    <p><pre class='prettyprint lang-python'>
# Imported libraries
import sqlite3
import os</pre></p>

    <p>We are importing two Python libraries into our code.  By doing this we can access
       any of the functions or variables defined in these libraries (also called modules).
       We are actually going to build or own module in the next couple of steps.</p>

    <p><pre class='prettyprint lang-python'>
# We want to remove the existing file
try:
    os.remove('sql.db')
except OSError as e:
    print("Couldn't remove the file:", e.strerror)</pre></p>

    <p>This removes the file so we can start fresh.  We use a try/ except: block to protect us from
       the OS having an issue finding or removeing the file.  If it goes wrong the user will
       get a message telling them why.  os.remove() actually does the dirty work of taking the file
       out.  He's basically the hitman for Python files.  What you looking at?</p>

    <p><pre class='prettyprint lang-python'>
# The sql connection &amp; cursor
conn = sqlite3.connect('sql.db')
c = conn.cursor()

print("Processing tables")</pre></p>

    <p>This is our connection to the databsae.  Since we are using SQLite we will keep the database
       in a file.  For small applications SQLite is fine.  If you were building a major
       enterprise application you probably want to look at something that can scale, but SQLite is
       surprisingly powerful.</p>

    <p>There are two things here that matter:<br/>
       <span style='padding-left: 3em;'><b>conn</b> - This deals with the database file and the connection to it</span><br/>
       <span style='padding-left: 3em;'><b>c</b> - This deals with the data in the file.  It's a cursor which means you point it at things</span></p>

    <p><pre class='prettyprint lang-python'>
# Make the cars =============================================================
print("==&gt; Cars")
c.execute('''CREATE TABLE IF NOT EXISTS car
             (   make TEXT,
                model TEXT,
                 year INTEGER,
              mileage INTEGER,
               active INTEGER)''')</pre></p>

    <p>If you've never seen SQL this could be a little intimidating, Don't worry.  Most people learn SQL very quickly
       because of how closely it matches English.  The c.execute() let's you run any SQL command against your database.
       the `CREATE TABLE` statement tells the database you are making a table in this case called `car`.
       the `IF NOT EXISTS` is a safety statement that makes sure we don't try to create a table that is already
       there.  Since we've deleted the file, this table should never be there.  But this is a best practice. To
       save you headaches in the future, I recommend adding it.  After that first line we are just adding columns
       to our database table.  Each column has a 'type' that tells the database what type of data we are going to
       store.  In this case we are storing two TEXT fields and 3 INTEGER fields.  We will use several other
       types over this tutorial.</p>

    <p><pre class='prettyprint lang-python'>
# Let's load some data
c.execute('''INSERT INTO car VALUES (?, ?, ?, ?, ?)''',
          ('Tesla', 'Model 27', 2021, 13784, 1))
c.execute('''INSERT INTO car VALUES (?, ?, ?, ?, ?)''',
          ('Google', 'PixelCar Beta', 2018, 35741, 1))
c.execute('''INSERT INTO car VALUES (?, ?, ?, ?, ?)''',
          ('Apple', 'Model XX', 2019, 1337, 1))</pre></p>

    <p>This are 3 identical INSERT statements which load data in our table.  By saying INSERT INTO `table` you
       let the database know where to store the data.  The VALUES line up with your columns.  We are using
       a Python trick where we put in a ? and then pass the values in the second execute() argument.  We are
       doing this because it will handle the `escaping` for us.  That way we don't have to worry about someone
       putting in a bad character (or worse a malicious SQL statement).</p>

    <p><pre class='prettyprint lang-python'>
# Now we need to save the changes to the file
conn.commit()</pre></p>

    <p>This block of code saves the changes to the database file.  If you don't include it then nothing
       will actually change.</p>

    <p>We are almost ready to run the load_sql.py script and see what it does.  You will need to change the permissions on
       the file before you can run it.  Please run the following:</p>

    <p><pre class='prettyprint lang-python' style='background-color: #012'>
chmod u+x load_sql.py</pre></p>

    <p>There is an indepth explaination on Linux file permissions in Hello World, <a href='/hello_world/5'>Step 5</a>.  Scroll
       until you see the picture of the 1970's car.</p>

    <p>Now we can run the file and see what it does:</p>

    <p><pre class='prettyprint lang-python' style='background-color: #012'>
./load_sql.py</pre></p>

    <p>Putting the `./` in front of the scripts tells the server that you want to run the load_sql.py in the same
       folder you are currently in.  In Linux everything you type in the terminal is a program.  So when you type
       ls you are running a program that lists directories.  It's located in /bin/ls.  You can always
       find a program using another command (or program) called `which`.  If you type `which ls` it will say `/bin/ls`.
       </p>

    <p>The first time you run it there is an "error" but the program still works.</p>

    <p><img src='/static/img/rest_api/step.5.1.png'></p>

    <p>The `Couldn't remove the file: No such file or directory` is an excption the os.remove() threw
       when it tried to remove a file and couldn't find it.  We caught the exception in the try/except
       block and just printed it to the screen.  IF we hadn't done that Python would have stopped the program
       because unhandled exceptions are assumed as mistakes.  If we run it again (HINT: up arrow in a terminal
       will pull up your last command) we will not see that error because in the last run it created the sql.db
       file.  The second run finds that file and deletes it so there is no error/exception to handle.</p>

    <p><img src='/static/img/rest_api/step.5.2.png'></p>

    <p>Let's add the rest of the items to the bottomw of the load_sql.py script so we have all of our tables.</p>

    <p><pre class='prettyprint lang-python'>
# Make the passengers ============================================================
print("==&gt; Passengers")
c.execute('''CREATE TABLE IF NOT EXISTS passenger
             (   name TEXT,
               active INTEGER)''')

# This uses executemany() which is faster for larger sets of data
passengers = [('Keanu Reeves', 1),
              ('Laurence Fishburne', 1),
              ('Carrie-Anne Moss', 1)]
c.executemany('INSERT INTO passenger VALUES (?, ?)', passengers)

# Make the Destinations =======================================================
print("==&gt; Destinations")
c.execute('''CREATE TABLE IF NOT EXISTS destination
             (street TEXT,
                city TEXT,
               state TEXT,
            zip_code INTEGER,
              active INTEGER)''')

# This uses executemany() which is faster for larger sets of data
destinations= [('6801 Hollywood Blvd', 'Los Angeles', 'CA', 90028, 1),
               ('3400 Warner Blvd', 'Burbank', 'CA', 91522, 1),
               ('6801 Hollywood Blvd', 'Hollywood', 'CA', 90028, 1)]
c.executemany('INSERT INTO destination VALUES (?, ?, ?, ?, ?)', destinations)


# Make the Trips =============================================================
print("==&gt; Trips")
c.execute('''CREATE TABLE IF NOT EXISTS trip
              (        car_id INTEGER,
                 passenger_id INTEGER,
               destination_id INTEGER,
              trip_start_time TEXT,
                trip_end_time TEXT)''')

# This uses executemany() which is faster for larger sets of data
destinations= [(1, 1, 1, '2018-01-14 07:14:12', '2018-01-14 07:23:01'),
               (2, 3, 2, '2018-01-14 13:47:39', '2018-01-14 14:01:17'),
               (3, 2, 3, '2018-01-14 06:01:53', '2018-01-14 07:41:19')]
c.executemany('INSERT INTO trip VALUES (?, ?, ?, ?, ?)', destinations)

# Now we need to save the changes to the file
conn.commit()</pre></p>

    <p>If you read the additional lines you probably noticed that the INSERT statements in
       this section use c.executemany() instead of c.execute().  The c.executemany() is faster
       at INSERTing a lot of rows.  In this case we are just inserting 3 and the speed
       improvement really won't be that noticeable but I wanted to show both formats so you'd
       be aware of the two different methods.  One awesome thing is SQLite and MySQL have very similar syntax.
       MySQL runs a lot of very popular online websites including: Facebook, Youtube, Netflix, Uber, Tesla, etc.
       Learning the SQLite syntax will set you up to make much larger projects on other databases.</p>

    <p>Now that we've updated the script let's run it again and confirm it works.</p>

    <p><pre class='prettyprint lang-bash' style='background-color: #012'>
./load_sql.py</pre></p>

    <p>This time you should see the following:</p>

    <p><img src='/static/img/rest_api/step.5.3.png'></p>

    <p>The database is loaded!  Now let's go to Step 6 and learn how to read it.</p>

    </div>
  </div>
  <!-- HR -->
  <div class='row'><div class='col-12'><hr/></div></div>
  <!--/HR -->
  <div class='row'>
    <div class='col-1'>
       <span class='giant'>6</span>
    </div>
    <div class='col-11'>
    Step 6 is continued on the <a href='/rest_api/6'>next page</a>.
    </div>
  </div>

  <!-- End of tutorial -->
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  </div> <!-- End container -->

{% include 'footer.html' %}
