<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TeamKP VM Registration</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>

  <div class='container'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <h1>Welcome to Team KP!</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <ul id="progressbar">
        <li class='active'><a href='/'>Register</a></li>
        {% if data.username %}
        <li class='active'><a href='/vpn_setup'>VPN Setup</a></li>
        {% else %}
        <li>VPN Setup</li>
        {% endif %}
        <li>Hello World Tutorial</li>
        <li>REST API Tutorial</li>
        <li>Start Working</li>
      </ul>
    </div>
  </div>
  <div class='row'>
   <div class='col-md-12'>
      &nbsp;
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class='alert alert-warning' role='alert'>
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
   </div>
  </div>
  <div class='row'>
   <div class='col-md-6'>

    <h4>This site will guide you on the process of becoming a productive member of Team KP</h4>
    <p>&nbsp;</p>

    <dl class='faq'>
       <dt>Register and everything will be setup on the server side</dt>
       <dd>The username and password chosen will be your SSH (putty) credentials.  The password
       will also be your VPN password.</dd>

       <dt>Setup VPN access to a private Team KP network</dt>
       <dd>The password chosen will be both your SSH (putty) &amp; VPN password.</dd>

       <dt>The Hello World tutorial will familiarize you with the "front-end" technology stack</dt>
       <dd>You will use your assigned development VM.</dd>

       <dt>The REST API Tutorial will teach you the "backend" technologies</dt>
       <dd>There are several important concepts needed during this step.</dd>

       <dt>You are now ready to get started</dt>
       <dd>You will login to OS Ticket and get your assignments.</dd>
    </dl>

   </div>
   <div class='col-md-1'>
      &nbsp;
   </div>
   <div class='col-md-4'>

    {% if data.username %}
       <h2>Hello {{ data.username }}</h2>

       <p>It looks like you've alredy created an account.</p>

       <p>If you've forgotten your password you'll need to talk to Kenny and he can reset it for you.</p>

       <p>You are probably ready to proceed to the <a href='/vpn_setup'>VPN Setup</a> Step.</p>

    {% else %}
    <!--<form method='post' action='/register' id='registration_form'>
    <p>
    <i>*all fields are required</i>
    </p>
    <div class='form-row'>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Full Name" name='name' required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="" name='email' required>
    </div>
    <div class="form-group">
      <label for="username">Username (SSH, OSTicket, Wiki)</label>
      <input type="text" class="form-control" id="username" placeholder="" name='username' required>
    </div>
    <div class="form-group">
      <label for="firstname">Password (SSH &amp; VPN)</label>
      <input type="password" class="form-control" id="password" placeholder="" name='password' required>
    </div>
    <div class="form-group">
      <label for="firstname">Confirm Password</label>
      <input type="password" class="form-control" id="confirm_password" placeholder="" name='confirm_password' required>
    </div>
    <div class="form-group">
      <label for="language">Programming Language</label>
      <select name='language' class='form-control'>
         <option value='python_dev'>Python</option>
         <option value='nodejs_dev'>Node.js</option>
         <option value='dotnet_dev'>.Net Core</option>
      </select>
    </div>
    <div class="form-group">
       <button type='submit' class='btn btn-default pull-right' name='submit' value='Step 2'>Register &amp; Proceed to Step 2 &gt;</button>
       <div class='pull-right'>(this will take a minute to run)</div>
    </div>
    </div>
    </form>-->

    <p>Registration for this event is closed.  See you in 2019.</p>

    <hr style='margin-top: 125px;'>

    <p>Already registered but switched computers?  You can login with your email address
       and password.</p>
    <form method='post' action='/login' id='login_form'>
    <div class='form-row'>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="" name='email' required>
    </div>
    <div class="form-group">
      <label for="firstname">Password</label>
      <input type="password" class="form-control" id="password" placeholder="" name='password' required>
    </div>
    <div class="form-group">
       <button type='submit' class='btn btn-default pull-right' name='submit' value='Step 2'>Login &gt;</button>
       <div class='pull-right'></div>
    </div>
    </div>
    </form>

    {% endif %}
   </div>
  </div>

<footer class="footer">
  <div class="container">
    <center><span>&copy; Copyright Kenny Pyatt 2018.  All Rights Reserved.</span></center>
  </div>
</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
    <script>
    $("registration_form").validate();
    </script>

  </body>
</html>
