<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TeamKP VM Registration</title>

    <!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--<link href="static/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>

  <div class='container'>
  <div class='row'>
    <div class='col-md-12 text-center'>
      <h1>VPN Setup - Windows</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <ul id="progressbar">
        <li class='active'>Register</li>
        <li class='active'>VPN Setup</li>
        <li>Hello World Tutorial</li>
        <li>REST API Tutorial</li>
        <li>Start Working</li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant'>1</span>
    </div>
    <div class='col-md-10'>
      <span class='align-bottom'>Did you remember to <a href='/ovpn_file'>download</a> your VPN key file?  Seriously, you will need this file.  Also, reading directions is critical in the next steps so slow down and read everything.  We have time.  I promise.</span>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      &nbsp;
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant align-middle'>2</span>
    </div>
    <div class='col-md-10'>
       <a href="static/files/openvpn-install-2.4.4-I601.exe">Download the Windows Client</a> and run it.
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant align-middle'>3</span>
    </div>
    <div class='col-md-6'>
       <img src='/static/img/windows_vpn_steps/step1.jpg'> 
    </div>
    <div class='col-md-4'>
       I assume you've done this before.  Click 'Next'.  Feel free to make sane choices in this UI and skip to step 9 in the directions.
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant align-middle'>4</span>
    </div>
    <div class='col-md-6'>
       <img src='/static/img/windows_vpn_steps/step2.jpg'>
    </div>
    <div class='col-md-4'>
      Read and accept the terms or hire a lawyer and I'll see you at the next HackMT.
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant align-middle'>5</span>
    </div>
    <div class='col-md-6'>
       <img src='/static/img/windows_vpn_steps/step3.jpg'>
    </div>
    <div class='col-md-4'>
      The default items were right for me.  Click 'Next'.
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant align-middle'>6</span>
    </div>
    <div class='col-md-6'>
       <img src='/static/img/windows_vpn_steps/step4.jpg'>
    </div>
    <div class='col-md-4'>
       I assume you'll leave this at the default location.  If not you are probably advanced enough to pick another location and you probably don't need to keep reading each of these steps.  It's also interesting to note that I only have 47.9GB of free space on my windows desktop.  It's M.2 storage so it's wicked fast.  It's a <a href='https://www.newegg.com/Product/Product.aspx?Item=9SIA12K54C9642&cm_re=M.2-_-20-147-594-_-Product'>Samsung 960 EVO</a>.  Are you still reading this?  Don't you have stuff you are supposed to be doing?  Click 'Install' and proceed to the next step!
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant align-middle'>7</span>
    </div>
    <div class='col-md-6'>
       <img src='/static/img/windows_vpn_steps/step5.jpg'>
    </div>
    <div class='col-md-4'>
      As you watch this scroll past you will probably wish you had an M.2 SSD.  Mine finished in seconds :-)
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant align-middle'>8</span>
    </div>
    <div class='col-md-6'>
       <img src='/static/img/windows_vpn_steps/step6.jpg'>
    </div>
    <div class='col-md-4'>
      Ironic that I told you to read the directions at the top of the page and then told you to skip steps in the middle.  If you are smarter than me you will un-check that 'Show Readme' option.  Just a text file that no one reads.
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant align-middle'>9</span>
    </div>
    <div class='col-md-6'>
       <img src='/static/img/windows_vpn_steps/step7.jpg'>
    </div>
    <div class='col-md-4'>
       Welcome back! Click the Icon (or run OpenVPN from the start menu).  Ignore the pop-up. It is telling you the next step.
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant align-middle'>10</span>
    </div>
    <div class='col-md-6'>
       <img src='/static/img/windows_vpn_steps/step8.0.jpg'>
    </div>
    <div class='col-md-4'>
       The application ended up in my task tray in the "arrow" section.
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant align-middle'></span>
    </div>
    <div class='col-md-6'>
       <img src='/static/img/windows_vpn_steps/step8.1.jpg'>
    </div>
    <div class='col-md-4'>
       Remember that file I told you was important (<a href='/ovpn_file'>download it here</a>). This is the file you are going to import.  Right-click and then select the 'Import file...' option.
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2'>
       <span class='giant align-middle'>11</span>
    </div>
    <div class='col-md-6'>
       <img src='/static/img/windows_vpn_steps/step9.jpg'>
    </div>
    <div class='col-md-4'>
       Now you need to connect to the vpn.
    </div>
  </div>
  
  <div class='row'>
    <div class='col-md-12 text-center'>
      <hr>
      <h2>Congrats! Now back to the VPN setup to <a href='/vpn_setup'>choose your destiny</a>!</h2>
    </div>
  </div>
  </div> <!-- End container -->

{% include 'footer.html' %}
