<!doctype html>
<html lang="en">
    <head>
        <title>Admin</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="site.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    <div class="container-fluid">
        <div class="row shortGrass">
            <div class="col">
                <div class="logoTab marginBottom">
                    <img src="./assets/lawnbots_logo.svg" alt="Lawnbots" width="80%">
                </div>
            </div>
            <div class="col">
                <a href="#" class="btn btn-outline-primary marginTop float-right">LOG OUT</a>
            </div>
        </div>

                   
        <div class="row">
            <div class="col marginTop">
                <h3>Crews</h3>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Crew ID</th>
                            <th scope="col">Crew Leader</th>
                            <th scope="col"># of Members</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="fixedWidth">1</th>
                            <td>1005 - Alachua County</td>
                            <td>Gainesville</td>
                            <td>(904) 376-0101</td>
                            <td class="fixedWidth"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="fixedWidth"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th class="fixedWidth">2</th>
                            <td>1010 - Bethesda/Potomac</td>
                            <td>Lanham</td>
                            <td>(301) 530-7400</td>
                            <td class="fixedWidth"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="fixedWidth"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th class="fixedWidth">3</th>
                            <td>1016 - Cambrian/Almaden</td>
                            <td>Zeissler</td>
                            <td>(408) 266-6737</td>
                            <td class="fixedWidth"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="fixedWidth"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th class="fixedWidth">4</th>
                            <td>1023 - Winter Park</td>
                            <td>Winter Park</td>
                            <td>(407) 222-3109</td>
                            <td class="fixedWidth"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="fixedWidth"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th class="fixedWidth">5</th>
                            <td>1053 - Thousand Oaks</td>
                            <td>Brooks</td>
                            <td>(805) 492-2434</td>
                            <td class="fixedWidth"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="fixedWidth"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th class="fixedWidth">6</th>
                            <td>1056 - Redwood City</td>
                            <td>Salem</td>
                            <td>(415) 592-3625</td>
                            <td class="fixedWidth"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="fixedWidth"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th class="fixedWidth">7</th>
                            <td>1062 - Santa Clara</td>
                            <td>Jolliff</td>
                            <td>(503) 581-4258</td>
                            <td class="fixedWidth"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="fixedWidth"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th class="fixedWidth">8</th>
                            <td>1095 - Carmichael</td>
                            <td>San Diego</td>
                            <td>(916) 966-2601</td>
                            <td class="fixedWidth"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="fixedWidth"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th class="fixedWidth">9</th>
                            <td>1097 - Montgomery</td>
                            <td>Montgomery</td>
                            <td>(205) 277-4784</td>
                            <td class="fixedWidth"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="fixedWidth"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th class="fixedWidth">10</th>
                            <td>1121 - San Francisco</td>
                            <td>San Francisco</td>
                            <td>(415) 523-6950</td>
                            <td class="fixedWidth"><i class="fa fa-pencil" aria-hidden="true"></i></td>
                            <td class="fixedWidth"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--End of Row-->


         <div class="row darkGrey padTop15">
            <div class="col">
                <p class="greyText">&copy; LawnBots 2018. All Rights Reserved</p>
            </div>
        </div>
    </div><!--end of Container-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>