{% include 'header.html' %}
       	 <!-- Content -->
	    <div class="container">
	      <div class="row">
	      </div>
	      <div class="row">
	        <div class="col-12"> 
		  {% with messages = get_flashed_messages() %}
		    {% if messages %}
		      {% for message in messages %}
		        <div class="alert alert-warning">{{message}}</div>
		      {% endfor %}
	            {% endif %}
                  {% endwith %}
                </div>
	      </div>
	      <div class="row">
	        <div class="col-4">

		  <form method="post" action="/login">
	          <div class="form-group">
		    <label for="username">Username</label>
		    <input type="text" class="form-control" id="username" name="username">
	          </div>
                  <div class="form-group">
			  <label for="password">Password</label>
			  <input type="passwrod" class="form-control" id="password" name="password">
		  </div>
                  <button type="submit" class="btn btn-primary">Save</button>
                  </form>
                </div>
              </div>
              <div class="col-8">
	      </div>	      
	    </div>	      
		<!--/Content -->
{% include 'footer.html' %}
