{% include 'header.html' %}

  <!-- Content -->
  <div class='container'>
    <div class='row'>
      <div class='col-md-10'>
        <h1>Browse</h1>
      </div>
      <div class='col-md-2'>
       <a class='btn btn-primary' href='/create' role='button'>Create</a> 
       <a class='btn btn-secondary' href='/logout' role='button'>Logout</a> 
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
      {% if data %}
      <table class='table'>
      <thead>
        <tr>
          <th scope='col'>#</th>
          <th scope='col'>Name</th>
          <th scope='col'>Color</th>
          <th scope='col'> </th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <th scope='row'>{{ item.rowid }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.color }}</td>
          <td>
            <a class='btn btn-secondary' href='/edit/{{ item.rowid }}' role='button'>Edit</a>
            <a class='btn btn-secondary' href='/delete/{{ item.rowid }}' role='button'>Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
      {% else %}
         No one has picked a favorite color yet, so you <a href='/create'>can be first</a>.
      {% endif %}
      </div>
    </div>
  </div>
  <!--/Content -->

{% include 'footer.html' %}
