<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Team KP - Hello World</title>

    <!-- Style -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <!--/Style -->
  </head>
  <body>
  <!-- Content -->
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h1>Hello, World</h1>

      </div>
      <div class='col-md-4'>

        <form method='post' action='/login'>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name='username'>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name='password'>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        </form>


      </div>
      <div class='col-md-8'>
        <!-- Not sure what to put here -->
      </div>
    </div>
  </div>
  <!--/Content -->

  <!-- Javascript -->
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/jquery.min.js"></script>
  <!--/Javascript -->
  </body>
</html>
