{% include 'header.html' %}

    <div class="col marginTop">
      <div class="row">
        <div class="col">
          <h1>Queue</h1>
        </div>
      </div>
      <div class="row">
        <div class="col marginTop">
          <table class="table table-bordered table-hover table-striped">
          <thead>
           <tr>
               <th scope="col">Type</th>
               <th scope="col">Name</th>
               <th scope="col">Address</th>
               <th scope="col">Phone</th>
               <th scope="col">Remove</th>
           </tr>
         </thead>
         <tbody>
           {% for item in data %}
           <tr>
               <td><a href='/read/{{item.rowid}}'>{{item.todo_type}}</a></td>
               <td>{{item.name}}</td>
               <td>{{item.street}} {{item.city}}, {{item.state}} {{item.zip}}</td>
               <td>{{item.phone}}</td>
               <td><a href='/delete/{{item.rowid}}'><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
           </tr>
           {% endfor %}
          </tbody>
         </table>
      </div>
    </div>
  </div>

{% include 'footer.html' %}
