 <!--Header Here-->


        <div class="row">
            <div class="col-5"></div>
            <div class="col-2 marginTop">
                <img src="./assets/lawnbots_logo.svg" alt="Lawnbots" width="80%">
                <hr>
                <label for="name">Email</label>
                <input type="email" class="form-control" id="email" name="email" />
                <br>
                <label for="name">Password</label>
                <input type="password" class="form-control" id="password" name="password" />
                 <a href="#form" class="btn btn-primary btn-lg">Request You Free Consultation &amp; Demo</a>
            </div>
            <div class="col-5"></div>
        </div>

<!--Footer Here-->